<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="webpages:Version" value="1.0.0.0" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="hostUrl" value="http://arkad.dev"/>
  <add key="domain" value="http://arkad.dev" />
  <add key="hostInfoEmailAddress" value="info@arkad.dev"/>
  <add key="smtpPort" value="587"/>
  <add key="smtpPassword" value="123"/>
  <add key="smtp" value ="smtp.gmail.com"/>
  <add key="smtpUsername" value ="arashkarami88@gmail.com"/>
  <add key="SecurityKey" value="xxx"/>
</appSettings>